@wrapp_color: antiquewhite;
@menu_item: greenyellow;
@menu_item_hover: aquamarine;
@background_color_4: red;
@background_color_5: green;

/* Global */
.container {
    margin: 0 10px;
}

.wrapper {
    width: 100%;
    background-color: @wrapp_color;
    margin-top: 5px;
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

.clearfix {
    clear: both;
    content: "";
    display: block;
}

/* header */
#logo {
    float: left;
}

#main-menu {
    float: right;
    li {
        list-style: none;
        float: left;
        margin-left: 20px;
        a {
            background-color: @menu_item;
            padding: 10px;
            &:hover {
                background-color: @menu_item_hover;
            }
        }
    }
}

#boxwrapp {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        background-color: @background_color_4;
        float: left;
        width: 33.3%;
    }
}
.holder {
    p {
        text-align: center;
    }
    margin: 5px;
    padding: 5px;
    background-color: @background_color_5;
}
.center {
    text-align: center;
}